body {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3em;
}
.body-btn {
  margin: 0.2em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  background: url("images/aaa.png") no-repeat center/cover;
  height: 50vh;
  &__navbar a {
    text-decoration: none;
    color: white;
  }
  &__navbar-header-2 {
    display: flex;
    justify-content: space-around;
  }
  &__navbar {
    background-color: rgba(143, 138, 138, 0.7);
    padding: 1em;
  }
  &__header-description {
    text-align: center;
  }
  &__header-description h1 {
    margin-top: 0;
    padding-top: 1.5em;
  }
  &__navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__navbar-header-2 {
    display: flex;
    justify-content: space-around;
  }
  &__navbar-header-2 li {
    padding-left: 1em;
  }

  &__navbar a {
    text-decoration: none;
    color: white;
  }
  &__navbar {
    background-color: rgba(143, 138, 138, 0.7);
    padding: 1em;
  }
  &__header-description {
    text-align: center;
  }
  &__header-description h1 {
    margin-top: 0;
    padding-top: 1.5em;
  }
}

.main-content {
  text-align: center;
  padding: 1em;

  &__card {
    border: 1px solid black;
    margin: 0.5em;
    padding: 1em;
  }
  &__body {
    display: flex;
  }
}

.fa-facebook-f {
  color: rgb(13, 86, 221);
}
.fa-twitter {
  color: rgb(105, 85, 218);
}
.fa-instagram {
  color: rgb(170, 49, 140);
}

.nav-footer {
  background-color: rgba(143, 138, 138, 0.7);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;

  ul {
    display: flex;
  }
  ul li {
    padding-right: 1em;
  }
}
