@use "mixin";
@use "variables";

body {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3em;
}
.body-btn {
  margin: 0.2em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  background: url("../images/aaa.png") no-repeat center/cover;
  height: 50vh;

  &__navbar a {
    text-decoration: none;
    color: white;
  }
  &__navbar-header-2 {
    @include mixin.flex-container-between;
  }

  &__description {
    text-align: center;
  }
  &__description h1 {
    margin-top: 0;
    padding-top: 1.5em;
  }
  &__navbar-links {
    width: 100%;
    @include mixin.flex-container-between;
  }
  &__navbar-header-2 {
    @include mixin.flex-container-around;
  }
  &__navbar-header-2 li {
    padding-left: 1em;
  }

  &__navbar a {
    text-decoration: none;
    color: white;
  }
  &__navbar {
    background-color: variables.$nav-color;
    padding: 1em;
  }
  &__header-description {
    text-align: center;
  }
  &__header-description h1 {
    margin-top: 0;
    padding-top: 1.5em;
  }
}

.main-content {
  text-align: center;
  padding: 1em;

  &__card {
    border: 1px solid black;
    margin: 0.5em;
    padding: 1em;
  }
  &__body {
    @include mixin.flex-container-around;
  }
}

.fa-facebook-f {
  color: variables.$facebook-icon-color;
}
.fa-twitter {
  color: variables.$twitter-icon-color;
}
.fa-instagram {
  color: variables.$insta-icon-color;
}

.nav-footer {
  background-color: variables.$nav-color;
  color: white;
  @include mixin.flex-container-between;
  padding: 1em;

  ul {
    display: flex;
  }
  ul li {
    padding-right: 1em;
  }
}

.btn {
  background-color: transparent;
  padding: 0.5em;

  &--hover-white:hover {
    background-color: black;
    color: white;
  }
  &--hover-black:hover {
    background-color: black;
    color: white;
  }
}
