body {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
}
.navbar {
  background-color: rgba(143, 138, 138, 0.7);
  padding: 0.5em;
}
.header {
  background: url("images/aaa.png") no-repeat center/cover;
  height: 60vh;
}
.header-description {
  text-align: center;
}
.header-description h1 {
  margin-top: 0;
  padding-top: 1.5em;
}
.main-btn {
  background-color: transparent;
  padding: 0.5em;
}
.main-button:focus {
  outline-color: red;
}
.main-btn:hover {
  background-color: black;
  color: white;
}
.main-btn.header-btn:hover {
  background-color: white;
  color: black;
}
