body {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
}
.navbar {
  background-color: rgba(143, 138, 138, 0.7);
  padding: 0.5em;
}
.header {
  background: url("images/aaa.png") no-repeat center/cover;
  height: 50vh;
}
.header-description {
  text-align: center;
}
.header-description h1 {
  margin-top: 0;
  padding-top: 1.5em;
}
.main-btn {
  background-color: transparent;
  padding: 0.5em;
}
.main-button:focus {
  outline-color: red;
}
.main-btn:hover {
  background-color: black;
  color: white;
}
.main-btn.header-btn:hover {
  background-color: white;
  color: black;
}

.nav-footer {
  background-color: rgba(143, 138, 138, 0.7);
  color: white;
  padding: 0.4em;
}
.main-content {
  text-align: center;
  padding: 1em;
}
.blog-card {
  border: 1px solid black;
  margin: 0.5em;
  padding: 1em;
}
.fa-facebook-f {
  color: rgb(13, 86, 221);
}
.fa-twitter {
  color: rgb(105, 85, 218);
}
.fa-instagram {
  color: rgb(170, 49, 140);
}
.navbar-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-header-2 {
  display: flex;
  justify-content: space-around;
}
.navbar-header-2 li {
  padding-left: 1em;
}
.main-content-body {
  display: flex;
}
.nav-footer ul {
  display: flex;
  justify-content: space-around;
}
